body,
#app {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
	background-color: yellow;
}

#app > .view {
	width: 100%;
	height: 100vh;
}

.view > .header {
	height: 15%;
	width: 100%;
}

.view > .title {
	height: 10%;
	width: 100%;
}

.view > .content {
	height: 60%;
	width: 100%;
}

.view > .nav {
	height: 15%;
	width: 100%;
}

button#logout {
	background: white;
	border-radius: 2px;
	border-style: none;
	padding: 5px 7px;
	color: black;
	margin-left: 5%;

}

.login-logout {
	display: flex;
	margin-top: 10%;
	margin-left: 50%;
	color: white;
	font-weight: bold;
}

.login > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: black;
	margin-top: 10%;
}

.login > .content {
	display: flex;
	justify-content: center;
}

.login > .content > img {
	width: 50%;
	height: 35%;
	margin-top: 12%;
}

.home > .header > img {
	width: 25%;
	margin-right: 10%;
}

.home > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 4%;
	margin-right: 4%;
}

.home > .title {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

.home > .content {
	overflow: scroll;
}

.home > .content > .steps {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: 900;
}

.home > .content > .steps > button {
	height: 35%;
	border-radius: 16px;
	border: 2px solid black;
	color: black;
	font-weight: bold;
	font-size: 20px;
	background-color: light grey;
}


button,
	{
	text-transform: none;
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-left: 5%;
	border-radius: 0;
	box-sizing: border-box;

}

.general-chat > .header > img {
	width: 25%;
	margin-right: 10%;
}

.general-chat > .header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 4%;
	margin-right: 4%;

}

.general-chat > .title {
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

#body {
	width: 100%;
	height: 60vh;
	font-family: 'Indie flower', cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chat-window {
	background: yellow;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin: 20px;
}

.each-post {
	min-width: 260px;
	max-width: 300px;
	width: fit-content;
	border-radius: 25px;
	margin: 0 20px;
	margin-bottom: 15px;

}

.word {
	font-size: 2rem;
}

.username-image {
	padding-top: 5px;
	width: 100%;
	height: 40%;
	display: flex;
	margin-bottom: 5px;
}

.username-image > .username {
	width: 70%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.username-image > .image > img {
	width: 50px;
	height: 50px;
	border-radius: 75px;
}

.post-text {
	padding: 0 5% 5px 5%;
	word-break: break-all;
}

.hostpost {
	align-self: flex-end;
	background: white;
}

.otherpost {
	align-self: flex-start;
	background: white;
}

.otherpost .username {
	order: 1;
}

.submit-div {
	width: 450px;
}

.submit-div > input {
	border-radius: 25px;
	border-style: ridge;
	border-color: blanchedalmond;
	width: 55%;
	margin-left: 15%;
	margin-right: 5%;
}

button#submit {
	background-color: white;
	border-radius: 25px;
	border-style: none;
	padding: 5px 7px;
	margin-bottom: 1%;
}

.nav {
	font-family: 'Open Sans', sans-serif;
}

.nav > button {
	width: 33.3%;
	height: 100%;
	background-color: lightgray;
	color: black;
	font-weight: bold;
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.pop {
	font-weight: bold;
}

.feat {
	color: skyblue;
}

button,
	{
	margin-top: 5%;
}

.act-calendar > .content {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 5%;
}

.act-calendar > .content {
	overflow: scroll;
}

.act-calendar > .title {
	margin-left: 5%;
}

.selection {
	padding: 15px 25px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: black;
	background-color: lightgrey;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	margin-top: 10%;
	margin: 10px;
	padding: 20px;
}

.selection: hover {
	background-color: grey
}

.selection: active {
	background-color: grey;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.square {
	display: flex;
	padding-top: 10%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 2px 16px;
}

body {

	font-family: 'Open Sans', sans-serif;

}



.card {

	width: 90%;


	display: flex;

	flex-direction: column;


	border: 1px solid #EF9A9A;

	border-radius: 4px;


	overflow: hidden;


	margin: 5px;
	margin-top: 5%;

}


.card-header {

	color: #D32F2F;

	text-align: center;

	font-size: 16px;

	font-weight: 600;

	border-bottom: 2px solid #EF9A9A;

	background-color: #FFEBEE;

	padding: 5px 10px;

}



.card-main {

	display: flex;

	flex-direction: column;

	justify-content: center;

	align-items: center;

	padding: 15px 10px;
	color: #D32F2F;

}



.material-icons {

	font-size: 40px;

	color: #D32F2F;

	margin-bottom: 5px;

}



.main-description {

	color: #D32F2F;

	font-size: 16px;

	text-align: center;

}

html {
	font-family: sans-serif;
}

.columns {
	display: flex;
}

.column {
	background: #eee;
	border: 5px solid #ccc;
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 10px;
	height: 470px;
	overflow: auto;
}

.main-column {
	flex: 2;
	overflow: auto;
}

.article {
	background: mediumseagreen;
	border: 5px solid seagreen;
	color: white;
	flex: 1;
	margin: 10px;
	padding: 20px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.news > .content {
	overflow: auto;
}

.alertmsg {
	margin-top: 10%;
}

.select {
	margin-top: 5%;
}

span {
	padding: 6%;
}
